/* Swiper Custom Styles */
.theme-swiper {
	padding: 20px 0;
}

#language-select {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI Emoji", "Noto Color Emoji",
		Roboto, sans-serif;
}

.theme-swiper .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.theme-swiper .swiper-slide-active {
	z-index: 2;
	transform: scale(1.05);
}

.theme-swiper .swiper-slide-prev,
.theme-swiper .swiper-slide-next {
	opacity: 0.7;
	transform: scale(0.95);
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.rsw-ce ul {
	padding-left: 2em;
	list-style: disc;
}

.rsw-ce ol {
	padding-left: 2em;
	list-style: decimal;
}

.rsw-ce ul,
.rich-text-content ul {
	padding-left: 2em;
	list-style: disc;
}

.rsw-ce ol,
.rich-text-content ol {
	padding-left: 2em;
	list-style: decimal;
}

/* Fluid Typography for Rich Text Editor sizes */
.rich-text-content font[size="1"] {
	font-size: clamp(0.75rem, 1.5vw + 0.5rem, 0.875rem);
	line-height: 1.25rem;
}
.rich-text-content font[size="2"] {
	font-size: clamp(0.875rem, 1.5vw + 0.6rem, 1rem);
	line-height: 1.5rem;
}
.rich-text-content font[size="3"] {
	font-size: clamp(1rem, 1.5vw + 0.75rem, 1.125rem);
	line-height: 1.75rem;
}
.rich-text-content font[size="4"] {
	font-size: clamp(1.125rem, 2vw + 0.75rem, 1.25rem);
	line-height: 1.75rem;
}
.rich-text-content font[size="5"] {
	font-size: clamp(1.25rem, 2.5vw + 0.75rem, 1.5rem);
	line-height: 2rem;
}
.rich-text-content font[size="6"] {
	font-size: clamp(1.5rem, 3vw + 0.75rem, 1.875rem);
	line-height: 2.25rem;
}
.rich-text-content font[size="7"] {
	font-size: clamp(1.875rem, 4vw + 0.75rem, 2.25rem);
	line-height: 2.5rem;
}

.rich-text-content h1 {
	margin: 0;
}
