@import url("./css/index.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer theme, base, clerk, components, utilities;

*,
button:hover {
	-webkit-tap-highlight-color: transparent !important;
}

html,
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	@apply scroll-smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--product-background);
	border-radius: 0rem;
}

::-webkit-scrollbar-thumb {
	background: var(--product-primary);
	border-radius: 1rem;
}

.mobile-tab-scroll::-webkit-scrollbar {
	height: 3px;
}

.mobile-tab-scroll::-webkit-scrollbar-track {
	margin: 0 4px;
	background: transparent;
}

.mobile-tab-scroll::-webkit-scrollbar-thumb {
	background: var(--product-primary);
	border-radius: 1px;
}

.dashboard-sidebar {
	position: sticky;
	top: 8rem;
	height: fit-content;
}

a {
	position: relative;
	text-decoration: none;
}

.animate-fadeIn {
	animation: fadeIn 0.5s ease-out forwards;
}

a:after {
	position: absolute;
	bottom: -3px;
	left: 0;
	display: block;
	width: 100%;
	content: "";
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

a:hover:after {
	transform: scaleX(1);
}

a.selected:after {
	transform: scaleX(1);
}

.animate-fade-in {
	animation: fade-in 0.3s ease forwards;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-product-background text-product-foreground;
	}
}
